* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    & body {
        background: url('../r&m.jpg')  no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        & .search {
                position: fixed;
                top: 10%;
                left: 50%;
                width: 35%;
                z-index: 10;
                transform: translateX(-50%);
                animation: inputField 1s ease-out;
                
                display: flex;
                flex-direction: row;                
}
                & input {
                    width: 80%
                }
                & .btnS {
                    width: 20%;
                    font-size: 1rem;
                }
            }
            & .prevNext {

                position: fixed;
                top: calc(10% + 1.5rem);
                left: 50%;
                width: 35%;
                z-index: 5;
                display: flex;
                flex-direction: row;   
                transform: translateX(-50%);
                animation: inputField 1s ease-out;
                & > button {
                    width: 50%;
                    
                }
            }
            @keyframes inputField {
                10% {
                    top: 5%;
                }
            
                95% {
                    top: 15%;
                }
        }
    }

.wrap {
    width: 80%;
    position: absolute;
    margin-top: 30%;
    box-shadow: 0 0 10px 0 #27f1ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    animation: opacity 2s ease-in;

    & .char {
        width: 23%;
        padding: 3%;
        margin-top: 2%;
        text-align: center;
        cursor: pointer;
        & p {
            color: black;
            background: #5AFF5A;
            font-size: 1rem;
            max-height: 1.2rem;
            overflow: hidden;
            border-radius: 15%;
        }
        & .charImg {
            width: 100%;
            padding: 5%;
        }
        & .btn {
            width: 80%;
            padding: .2rem;
            border-radius: 20%;
            background: #5AFF5A;
        }
    }
    & .char:hover {
        background: rgba(61, 0, 251, .4);
        transform: scale(1.1);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    95% {
        opacity: .9;
    }
}

.active {
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 20%;
    border: blue 1px solid;
    box-shadow: inset 0 0 10px 0 #27f1ff;
    display: flex;
    flex-direction: column;
    justify-content: row;
    backdrop-filter: blur(2px);
    z-index: 25;
    & .singCh {
        height: 70vh;
        padding: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10%;
        & .sinImg {
            height: 50%;
        }
        & p {
            background: whitesmoke;
            padding: 2%;
            margin: 5%;
        }
        & .back {
            margin: auto 0;
            flex-grow: 4;
            padding: 5%;
            width: 100%;
            cursor: pointer;
        }
    }
}