* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    & body {
        background: url('../r&m.jpg')  no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        & .search {
                position: fixed;
                top: 10%;
                left: 50%;
                width: 35%;
                z-index: 5;
                transform: translateX(-50%);
                animation: inputField 2s ease-out;
                
                display: none;
                flex-direction: row;                
}
                & input {
                    width: 80%
                }
                & .btnS {
                    width: 20%;
                    font-size: 1rem;
                }
            }
            & .prevNext {

                position: fixed;
                height: 3rem;
                // top: calc(10% + 1.5rem);
                top: 10%;
                width: 100%;
                z-index: 250;
                display: flex;
                flex-direction: row;
                justify-content: center;   
                align-items: center;
                background: url(../r&m.jpg) no-repeat center fixed;
                background-size: cover;
                animation: inputField 2s ease-out;
                & > button {
                    width: 25%;
                    height: 1.5rem;
                    
                }
            }
            @keyframes inputField {
                10% {
                    left: 5%;
                }
        }
    }

.wrap {
    width: 80%;
    position: absolute;
    margin-top: 15%;
    box-shadow: 0 0 10px 0 #27f1ff;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    animation: opacity 1s ease-in;
    z-index: 50;
    & .char {
        width: 18%;
        padding: 3%;
        margin-top: 2%;
        text-align: center;
        border-radius: 10%;
        cursor: pointer;
        & p {
            color: black;
            background: #5AFF5A;
            font-size: 1rem;
            max-height: 1.2rem;
            overflow: hidden;
            border-radius: 15%;
        }
        & .charImg {
            width: 100%;
            padding: 5%;
        }
        & .btn {
            width: 80%;
            padding: .2rem;
            border-radius: 20%;
            background: #5AFF5A;
        }
    }
    & .char:hover {
        background: rgba(61, 0, 251, .4);
        transform: scale(1.1);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    95% {
        opacity: .9;
    }
}


.active {
    width: 80%;
    height: 60vh;
    position: absolute;
    top: 20%;
    border: blue 1px solid;
    box-shadow: inset 0 0 10px 0 #27f1ff;
    display: flex;
    flex-direction: column;
    justify-content: row;
    backdrop-filter: blur(2px);
    z-index: 25;
    animation: opacity .7s ease-in-out;
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        95% {
            opacity: .9;
        }
    }
    & .singCh {
        min-height: 80%;
        padding: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10%;
        & .sinImg {
            max-height: 40%;
            margin-bottom: 5%;
        } & .charInfo {
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        & p {
            background: #A9D3E9;
            padding: 2%;
            border-radius: 5%;
            margin: 2%;
        }
    }
        & .back {
            background: #A9D3E9;
            margin: auto 0;
            max-height: 100px;
            padding: 1rem;
            width: 100%;
            border-radius: 5%;
            cursor: pointer;
        }
    }
}

.singular {
    top: 100%;
}

// MEDIA 

@media all and (max-width: 1024px) {
    .wrap {
        margin-top: 25%;
        & .char {
            width: 23%;
        }
    }
}


@media all and (max-width: 769px) {
    .wrap {
        margin-top: 25%;
        & .char {
            width: 30%;
        }
    }
}

@media all and (max-width: 600px) {
    .wrap {
        margin-top: 35%;
        & .char {
            width: 45%;
        }
    }
}


@media all and (max-width: 400px) {
    .prevNext {
        top: 5%;
        height: 1.5rem;
    }
    .wrap {
        margin-top: 25%;
        & .char {
            width: 80%;
}
}
}


@media all and (min-width: 960px) {
    .sinImg {
        min-height: 50%;
    }
}

@media all and (max-width: 380px) {

    .active {
        height: 80vh;
    }
    .sinImg {
        display: none;
    }
    
    .charInfo {
        width: 70%;
        height: 30%;
    }
    p {
        padding: .2%;
        margin: .2%;
    }

    .back {
        margin: 0;
        padding: 0;
    }
}

@media all and (max-width: 220px) {
    img {
        display: none;
    }
}



