* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    background: url("../rkf.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; }
    * body .search {
      position: fixed;
      top: 10%;
      left: 50%;
      width: 35%;
      z-index: 5;
      transform: translateX(-50%);
      display: none;
      flex-direction: row; }
    * body input {
      width: 80%; }
    * body .btnS {
      width: 20%;
      font-size: 1rem; }
  * .prevNext {
    position: fixed;
    height: 3rem;
    top: 10%;
    width: 100%;
    z-index: 250;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(../rkf.jpg) no-repeat center fixed;
    background-size: cover; }
    * .prevNext > button {
      width: 25%;
      height: 1.5rem; }

.wrap {
  width: 80%;
  position: absolute;
  margin-top: 15%;
  box-shadow: 0 0 10px 0 #38CACB;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: opacity 1s ease-in;
  z-index: 50; }
  .wrap .char {
    width: 18%;
    padding: 3%;
    margin-top: 2%;
    text-align: center;
    border-radius: 10%;
    cursor: pointer; }
    .wrap .char p {
      color: black;
      background: #38CACB;
      font-size: 1rem;
      max-height: 1.2rem;
      overflow: hidden;
      border-radius: 15%; }
    .wrap .char .charImg {
      width: 100%;
      padding: 5%; }
    .wrap .char .btn {
      width: 80%;
      padding: .2rem;
      border-radius: 20%;
      background: #38CACB; }
  .wrap .char:hover {
    background: rgba(175, 180, 183, 0.4);
    transform: scale(1.1); }

@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  95% {
    opacity: .9; } }
.active {
  width: 80%;
  height: 60vh;
  position: absolute;
  top: 20%;
  border: blue 1px solid;
  box-shadow: inset 0 0 10px 0 #27f1ff;
  display: flex;
  flex-direction: column;
  justify-content: row;
  backdrop-filter: blur(2px);
  z-index: 25;
  animation: opacity .7s ease-in-out; }
@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  95% {
    opacity: .9; } }
  .active .singCh {
    min-height: 80%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%; }
    .active .singCh .sinImg {
      max-height: 40%;
      margin-bottom: 5%; }
    .active .singCh .charInfo {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .active .singCh .charInfo p {
        background: #38CACB;
        padding: 2%;
        border-radius: 5%;
        margin: 2%; }
    .active .singCh .back {
      background: #38CACB;
      margin: auto 0;
      max-height: 100px;
      padding: 1rem;
      width: 100%;
      border-radius: 5%;
      cursor: pointer; }

@media all and (max-width: 1024px) {
  .wrap {
    margin-top: 25%; }
    .wrap .char {
      width: 23%; } }
@media all and (max-width: 769px) {
  .wrap {
    margin-top: 25%; }
    .wrap .char {
      width: 30%;
      margin-top: 3%; } }
@media all and (max-width: 600px) {
  .wrap {
    margin-top: 35%; }
    .wrap .char {
      width: 45%; } }
@media all and (max-width: 400px) {
  .prevNext {
    top: 5%;
    height: 1.5rem; }

  .wrap {
    margin-top: 25%; }
    .wrap .char {
      width: 80%; } }
@media all and (min-width: 960px) {
  .sinImg {
    min-height: 50%; } }
@media all and (max-width: 380px) {
  .active {
    height: 80%; }

  .sinImg {
    display: none; }

  .charInfo {
    width: 100%;
    height: 100%; }

  p {
    padding: .2%;
    margin: .2%; }

  .back {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0; } }
@media all and (max-width: 220px) {
  img {
    display: none; } }

/*# sourceMappingURL=style.css.map */
